@{
    ViewData["Title"] = "Home Page";
}
@model std_details

<div class="text-center">
    <h1 class="display-4">Crud Operations</h1>
    <br />
    <br />
    <form method="post" asp-action="user_auth">
        <div class="form-group">
            <div class="row d-flex justify-content-center">
            
            <input type="email" asp-for="email" style="width : 25%" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           </div>
        </div>
        <br />
        <br />
        <div class="form-group">
        <div class="row d-flex justify-content-center">

            
            <input type="password" asp-for="password" style="width : 25%" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-outline-primary">Log In</button>
        <br />
        <br />
        <button type="submit" class="btn btn-outline-primary" asp-controller="Crud" asp-action="Create">Create New Account</button>
        <br/>
        <br/>
        <a href="">Forgot Password ?</a>
       
    </form>
</div>