@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @foreach(var i in Model)
    {
        <h1> id : @i.id</h1>
        <br />
        <h1>name : @i.name </h1>
        <br />
        <h1>fathername : @i.fathername </h1>
        <br />
        <h1>password : @i.password </h1>
    }
}
